.main{
    margin-top: 10rem;
    color:var(--text-theme);
    /* border:3px solid black; */
}

.heading{
    margin:1rem auto;
    width:12rem;
}

.heading h2{
    width:5rem;
    margin:0 auto;
}

.upperLine{
    width:12rem;
    border-bottom:2px solid var(--dark-theme);
    margin:4px auto;
}

.lowerLine{
    width:6rem;
    border-bottom:3px solid var(--dark-theme);
    margin:4px auto;
}


.hero{
    display:flex;
    flex-direction: row;
    width:70%;
    margin:0 auto;
}

.literature{
    width:50%
}

.heroImage{
    width:50%;
    /* border:3px solid black; */
}

.exp{
    width:70%;
    display:flex;
    flex-direction: row;
    margin:2rem auto;
    justify-content: space-evenly;
}

.expTab h3{
    color:var(--dark-theme);
}

.heroImage h4{
    color:var(--dark-theme);
    /* border:3px solid black; */
}

/* .image{
    filter:grayscale(100%);
} */

.literature p{
    text-align:justify;
}

@media(max-width:900px){
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:90%;
    }
    .literature{
        width:100%;
    }
    .exp{
        flex-direction: column;
        align-items:center;
        width:80%;
    }
    .expTab h3, .expTab p{
        display: inline-block;
        margin-right: 1.5rem;
    }
    .expTab{
        flex-direction: row;
        justify-content: flex-end;
        width:80%;
    }
}