.nav{
    position:fixed;
    top:0;
    z-index: 700;
    width:100%;
    background-color: var(--normal-page);
   
}
.navBar{
    margin:2rem auto;
    width:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
}

.menuIcon{
    color:var(--dark-theme);
    display: none;
    cursor:pointer;
}

.links{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    color:var(--dark-theme);

}

.link{
    transition:all .3s;
}

.link:hover{
    transform: scale(1.3,1.3);
}


.dropDown{
    height:90vh;
    background-color: var(--dark-theme);
    opacity:.8;
    position: absolute;
    z-index: 100;
    width:100%;
    display: flex;
    flex-direction: column;
    color:var(--normal-page);
    justify-content: space-evenly;
    align-items:center;
    animation: drop .4s;
}

@keyframes drop{
    0%{
        opacity:0
    }
    100%{
        opacity:.8
    }
}

.dropDownLinks{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    height: 50%;
}

@media(max-width:900px){
    .links{
        display: none;
    }
    .menuIcon{
        display:inline
    }
    .nav{
         box-shadow: 0 2px 15px var(--dark-theme);
    }
}
